<div id="joinPage" class="main-bg" style="display: flex">
  <div style="display: flex; flex-direction: column">
    <h3>Angular 2 quickstart with Videosdk</h3>
    <form name="myForm" style="display: flex">
      <button (click)="fireCreateMeeting()">Create a meeting</button>
      <p
        style="
          margin-left: 8px;
          margin-right: 8px;
          font-size: 14px;
          margin-top: 2px;
          margin-bottom: 0px;
        "
      >
        OR
      </p>
      <input
        name="meetingId"
        type="text"
        placeholder="Enter meeting id"
        [(ngModel)]="meetingId"
      />

      <button (click)="fireValidateMeeting()" style="margin-left: 8px">
        Join a meeting
      </button>
    </form>
  </div>
</div>
