<div
  style="height: 70px; background-color: lightgray"
  ng-controller="myController"
  ng-show="showMeetingScreen"
  id="top-bar"
>
  <div class="top-bar-div">
    <div>
      <p style="margin-top: 0px; margin-bottom: 0px; font-weight: 700">
        MeetingId: {{meetingId}}
      </p>
    </div>
    <div style="display: flex; align-items: center; margin-top: 8px">
      <button
        ng-show="disableWebcamBtn"
        style="cursor: pointer"
        ng-click="disableWebcam()"
      >
        Disable Webcam
      </button>
      <button
        ng-show="enableWebcamBtn"
        style="margin-left: 4px; cursor: pointer"
        ng-click="enableWebcam()"
      >
        Enable Webcam
      </button>
      <button
        ng-show="disableMicBtn"
        style="margin-left: 4px; cursor: pointer"
        ng-click="muteMic()"
      >
        Disable Mic
      </button>
      <button
        ng-show="enableMicBtn"
        style="margin-left: 4px; cursor: pointer"
        ng-click="unmuteMic()"
      >
        Enable Mic
      </button>
      <button class="leave-btn" ng-click="leaveMeeting()">Leave Meeting</button>
    </div>
  </div>
</div>
