<div *ngIf="showJoinScreen">
  <app-join-screen
    (validateMeeting)="validateMeeting($event)"
    (createMeeting)="createMeeting()"
  ></app-join-screen>
</div>
<div *ngIf="showMeetingScreen">
  <!-- topbar STart -->
  <app-top-bar
    [meetingId]="meetingId"
    [showTopBar]="showTopBar"
    [disableWebcamBtn]="disableWebcamBtn"
    [enableWebcamBtn]="enableWebcamBtn"
    [disableMicBtn]="disableMicBtn"
    [enableMicBtn]="enableMicBtn"
    (disableWebcam)="disableWebcam()"
    (enableWebcam)="enableWebcam()"
    (muteMic)="muteMic()"
    (unmuteMic)="unmuteMic()"
    (leaveMeeting)="leaveMeeting()"
  ></app-top-bar>
  <!-- topbar End -->

  <!-- Meeting Container -->
  <div
    style="
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      max-height: calc(100vh - 85px);
    "
  >
    <div class="container">
      <div
        #participantGridContainer
        id="participant-grid-container"
        class="row"
      ></div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
