/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap"); */

* {
  /* font-family: "Roboto Mono", monospace; */
}
.btn {
  cursor: pointer;
  max-width: max-content;
  padding: 6px;
  border: none;
  border-radius: 2px;
  margin-top: 10px;
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}
.text-primary {
  color: #fa4c3b;
}
.text-secondary {
  color: #1e1d1c;
}
.primary {
  background-color: #fa4c3b;
}
.secondary {
  background-color: #1e1d1c;
}
.main-bg {
  background-color: #f0f0eb;
}
.video-frame {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform: rotate("90");
  object-fit: cover;
  margin: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
/* *BODY  PAGE */
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px;
}

input{
  border: 1px solid black
}

/* *JOINPAGE */
#joinPage {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  top: 0px;
}

.top-bar-div {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 100%;
}

.text-input {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 2px;
  margin-top: 10px;
}

.input-err {
  margin-top:4px ;
  margin: 0px;
  font-size: 14px;
  font-weight: 500;
  color: red;
}

.leave-btn {
  margin-left: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  background-color: red;
  color: white;
  border: none;
}


@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 0.5%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 100%;
    
  }
}